{% extends "base.html.twig" %}


{% block body %}


 {% if app.user%} 
{% if is_granted('ROLE_ADMIN') %}
    <a href="/delete/user/{{user_data.id}}">Delete user</a>
    <a href="/user/{{user_data.id}}/edit">Edit user</a>

{% endif %}


<ul>
    <li> Username : {{user_data.username}}</li>
    <li>email : {{user_data.email}}</li>
</ul>

{% if scores is empty %}
   Aucune score pour le moment !
{% else %}
    {% for score in scores %}
     <h3> <a href="/quiz/{{score['id']}}">{{ score['name'] }} </a></h3><br>
     votre score etait de {{ score['score']}} 

     <br>
    {% endfor %}
{% endif %}

{% else %}

Vous n'etes pas connecté
 {% endif%}


{% endblock %}






